/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);

/* COMECO HEADER */

header {
    position: relative;

    width: 100%;
    height: 10vh;

    padding: 2rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h3 {
    color: var(--white);
    cursor: default;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

header nav a {
    color: var(--white);
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

header nav span {
    color: var(--white);
    opacity: 0.4;
}

header a button {
    width: auto;
    padding: 0.6rem 1.3rem;

    background: none;
    font-size: 0.95rem;
    color: var(--white);

    border: 0.1px solid var(--white);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.2s;
}

header a button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
/* FIM HEADER */

/* COMECO MAIN */

main {
    height: 82vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 12vh;
}

main h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--white);
}

main p {
    width: 40%;

    margin-top: 10px;

    text-align: center;
    font-weight: 100;
    color: var(--white);
}

main button {
    margin-top: 2rem;
    padding: 0.8rem 5rem;

    font-size: medium;
    font-weight: bold;

    color: var(--primary);

    border: none;
    border-radius: 0.5rem;
    background-color: var(--white);

    cursor: pointer;
}

/* FIM MAIN */

/* COMECO FOOTER */

footer {
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    text-align: center;
    color: var(--primary);

    background-color: var(--black);
}

/* FIM FOOTER */

/* COMECO RESPONSIVIDADE */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;

        height: auto;
    }

    header nav a{
        font-size: 0.8rem;
    }

    header a, header a button{
        width: 100%;
        font-size: 0.8rem;
    }

    main p {
        width: 80%;
    }
}