/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);
@import url(../../global/header.css);

/* COMECO MAIN */

main {
    margin: 3rem 2.5rem;
    height: 90vh;
}

main h1 {
    color: var(--white);
    font-size: 2.5rem;
}

/*BABI*/

.geral {
    display: flex;
    gap: 2.5rem;

    background-color: white;
    border-radius: 0.5rem;
    margin-top: 25px;
    padding: 60px;
}

/* parte de localização */

.localizacao {
    flex: 1;
    background-color: white;
    width: 50%;
}

.localizacao h2,
.formulario h2 {
    color: var(--primary);
    font-size: 2rem;
}

.localizacao p {
    font-size: 1rem;
    margin-top: 1rem;
}

.localizacao p i {
    color: var(--primary);
    font-size: 22px;
    margin-right: 5px;
}

.localizacao img {
    width: 100%;
    margin-top: 10px;
    border-radius: 0.5rem;
}

/*fim parte localização*/

/*inicio parte formulario*/

.formulario {
    width: 50%;
    flex: 1;
}

.campos {
    height: 100%;
    margin-top: 1rem;
}

.campo {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--primary_light);
}

.campo input {
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem;

    outline: none;

    border-width: 1px;
    border-color: var(--primary_light);
}

.campo input::placeholder,
.campo textarea::placeholder {
    color: var(--primary_light);
}

.campo textarea {
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem;

    outline: none;
    resize: none;

    border-width: 1px;
    border-color: var(--primary_light);
}

.campos button {
    padding: 10px;

    background: linear-gradient(
            120deg,
            var(--secondary) 30%,
            var(--primary) 100%
        )
        repeat;
    color: white;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    text-align: center;

    width: 120px;
    transition: 0.5s;
}

.campos button:hover {
    background: linear-gradient(
            120deg,
            var(--primary) 30%,
            var(--secondary) 100%
        )
        repeat;
    transition: 0.5s;
}

@media (max-width: 1010px) {
    main {
        height: auto;
    }

    .geral {
        flex-direction: column;
    }

    .localizacao,
    .formulario {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .geral {
        padding: 30px;
    }
}

@media (max-width: 344px) {
    .localizacao h2,
    .formulario h2 {
        font-size: 1.5rem;
    }

    .localizacao p {
        font-size: 0.8rem;
    }
}
