/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);

body {
    height: 100vh;
}

/* COMECO HEADER */

header {
    position: relative;

    width: 100%;
    padding: 2rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: var(--white);
    cursor: default;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

header nav a {
    color: var(--white);
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

header nav span {
    color: var(--white);
    opacity: 0.4;
}

header a button {
    opacity: 0;
    width: auto;
    padding: 0.6rem 1.3rem;

    background: none;
    font-size: 0.95rem;
    color: var(--white);

    border: 0.1px solid var(--white);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

header a button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
    }

    header nav a {
        font-size: 0.8rem;
    }

    header a,
    header a button {
        width: 100%;
        font-size: 0.8rem;
    }
}

/* FIM HEADER */

/* COMECO MAIN  */

main {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    margin: auto;
    color: var(--primary);
    font-weight: 600;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

form h3 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

.flex {
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0.1px solid var(--primary);
    border-radius: 0.5rem;
}

.flex .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

#email-box {
    padding: 0 0.9rem;
}

form .flex > input {
    display: inline-block;
    width: 100%;
    padding: 0.6rem 1.3rem;
    background: none;
    font-size: 0.95rem;
    padding: 1rem 0;
    border: none;
}

form .flex > input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

form button {
    margin-bottom: 1rem;
    padding: 0.8rem 5rem;

    font-size: medium;
    font-weight: bold;

    color: var(--white);

    border: none;
    border-radius: 0.5rem;
    /* background-color: var(--primary); */
    background: linear-gradient(0deg, var(--secondary) 5%, var(--primary) 100%)
        repeat;

    cursor: pointer;
    transition: 0.5s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

form button:hover {
    transition: 0.5s;
    color: var(--white);
    background-color: var(--secondary);
}

main .text-details {
    font-weight: lighter;
    text-align: center;
    color: #aaa;
}

main .text-details a {
    color: var(--primary);
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    main {
        height: 80vh;
    }

    main form {
        width: 80%;
    }
}

@media screen and (min-width: 767px) {
    main form {
        width: 50%;
    }
}

@media screen and (min-width: 991px) {
    main form {
        width: 40%;
    }
}
@media screen and (min-width: 1199px) {
    main form {
        width: 40%;
    }
}
@media screen and (min-width: 1399px) {
    main form {
        width: 30%;
    }
}

/* FIM MAIN  */
