/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);
@import url(../../global/header.css);

/* COMECO MAIN  */

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    margin: auto;
    color: var(--primary);
    font-weight: 600;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

form h3 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

.mensagem-erro {
    display: none;
    color: red;
    margin: -10px 0;
    font-size: 0.7rem;
}

.input-group {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: start;
    border: 0.1px solid var(--primary);
    border-radius: 0.5rem;
}

.flex .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.campo-erro {
    border: 1px solid red;
}

#email-box {
    padding: 0 0.9rem;
}

form .flex > input {
    display: inline-block;
    width: 100%;
    padding: 0.6rem 1.3rem;
    background: none;
    font-size: 0.95rem;
    padding: 1rem 0;
    border: none;
}

form .flex > input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

form button {
    margin-bottom: 1rem;
    padding: 0.8rem 5rem;

    font-size: medium;
    font-weight: bold;

    color: var(--white);

    border: none;
    border-radius: 0.5rem;
    /* background-color: var(--primary); */
    background: linear-gradient(0deg, var(--secondary) 5%, var(--primary) 100%)
        repeat;

    cursor: pointer;
    transition: 0.5s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

form button:hover {
    transition: 0.5s;
    color: var(--white);
    background-color: var(--secondary);
}

main .text-details {
    font-weight: lighter;
    text-align: center;
    color: #aaa;
}

main .text-details a {
    color: var(--primary);
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    main {
        height: 80vh;
    }

    main form {
        width: 80%;
    }
}

@media screen and (min-width: 767px) {
    main form {
        width: 50%;
    }
}

@media screen and (min-width: 991px) {
    main form {
        width: 40%;
    }
}
@media screen and (min-width: 1199px) {
    main form {
        width: 40%;
    }
}
@media screen and (min-width: 1399px) {
    main form {
        width: 30%;
    }
}

/* FIM MAIN  */
