/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);

/* COMECO HEADER */

header {
    position: relative;

    width: 100%;
    padding: 2rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: var(--white);
    cursor: default;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

header nav a {
    color: var(--white);
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

header nav span {
    color: var(--white);
    opacity: 0.4;
}

header a button {
    opacity: 0;

    width: auto;
    padding: 0.6rem 1.3rem;

    background: none;
    font-size: 0.95rem;
    color: var(--white);

    border: 0.1px solid var(--white);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

header a button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
    }

    header nav a {
        font-size: 0.8rem;
    }

    header a,
    header a button {
        width: 100%;
        font-size: 0.8rem;
    }
}

/* FIM HEADER */

/* COMECO MAIN */

main {
    margin: 3rem 2.5rem;
    height: 80vh;
}

main h1 {
    color: var(--white);
    font-size: 2.5rem;
}

/* BABI */

.geral {
    background-color: white;
    padding: 20px;
    display: flex;
    gap: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 25px;
    color: var(--primary);
}

/*parte do icone de usuario*/

.icone-container {
    width: 15%;
    display: flex;
    justify-content: center;
}

.icone {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-container .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary_light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-container .circle i {
    color: var(--primary);
    font-size: 50px;
}

.icone-container h2 {
    margin-top: 10px;
    font-size: 1.1rem;
}

/*parte dos dados*/

.dadosgeral {
    width: 100%;
    flex: 1;
}

.dadosgeral h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 1.5rem;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 40% 25% auto;
    grid-gap: 1.5rem;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 1.5rem;
}

.dados {
    width: 100%;
    font-weight: bold;
}

.dados input {
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem;
    outline: none;
    border-width: 1px;
    border-color: var(--primary_light);
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

/*botao alterar*/

.geral .dadosgeral button[type='submit'] {
    margin-top: 5px;

    background: linear-gradient(
            120deg,
            var(--secondary) 30%,
            var(--primary) 100%
        )
        repeat;
    color: white;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    text-align: center;

    padding: 10px 30px;
    transition: 0.5s;
}

/* botao deletar */

#deletar {
    margin-top: 5px;
    color: white;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    text-align: center;

    padding: 10px 30px;
    transition: 0.5s;

    background-color: red;
}

/* sair */

.icone-container .icone a {
    margin-top: 5px;
    color: red;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .icone-container {
        width: 20%;
    }
}

@media (max-width: 776px) {
    .geral {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .icone-container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    main {
        margin: 3rem 1.5rem;
        height: 100%;
    }

    .grid-container1,
    .grid-container2,
    .grid-container3 {
        grid-template-columns: 1fr;
        gap: 5px;
        margin-bottom: 5px;
    }

    .geral .dadosgeral button {
        width: 100%;
    }
}
