/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);
@import url(../../global/header.css);

/* COMECO MAIN */

main {
    margin: 3rem 2.5rem;
    height: 80vh;
}

main h1 {
    color: var(--white);
    font-size: 2.5rem;
}

/* BABI */

.geral {
    background-color: white;
    padding: 20px;
    display: flex;
    gap: 2.5rem;
    border-radius: 0.5rem;
    margin-top: 25px;
    color: var(--primary);
}

/*parte do icone de usuario*/

.icone-container {
    width: 15%;
    display: flex;
    justify-content: center;
}

.icone {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-container .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--primary_light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-container .circle i {
    color: var(--primary);
    font-size: 50px;
}

.icone-container h2 {
    margin-top: 10px;
    font-size: 1.1rem;
}

.icone-container a {
    cursor: pointer;
}

/*parte dos dados*/

.dadosgeral {
    width: 100%;
    flex: 1;
}

.dadosgeral h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 1.5rem;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 40% 25% auto;
    grid-gap: 1.5rem;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 1.5rem;
}

.dados {
    width: 100%;
    font-weight: bold;
}

.dados input {
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem;
    outline: none;
    border-width: 1px;
    border-color: var(--primary_light);
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

#alterar {
    margin-top: 5px;

    background: linear-gradient(
            120deg,
            var(--secondary) 30%,
            var(--primary) 100%
        )
        repeat;
    color: white;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    text-align: center;

    padding: 10px 30px;
    transition: 0.5s;
}

#deletar {
    margin-top: 5px;
    color: white;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    text-align: center;

    padding: 10px 30px;
    transition: 0.5s;

    background-color: red;
}

/* sair */

.icone-container .icone a {
    margin-top: 5px;
    color: red;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .icone-container {
        width: 20%;
    }
}

@media (max-width: 776px) {
    .geral {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .icone-container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    main {
        margin: 3rem 1.5rem;
        height: 100%;
    }

    .grid-container1,
    .grid-container2,
    .grid-container3 {
        grid-template-columns: 1fr;
        gap: 5px;
        margin-bottom: 5px;
    }

    .geral .dadosgeral button {
        width: 100%;
    }
}
