/* COMECO HEADER */

header {
    position: relative;

    width: 100%;
    padding: 2rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: var(--white);
    cursor: default;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

header nav a {
    color: var(--white);
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

header nav span {
    color: var(--white);
    opacity: 0.4;
}

header a button {
    width: auto;
    padding: 0.6rem 1.3rem;

    background: none;
    font-size: 0.95rem;
    color: var(--white);

    border: 0.1px solid var(--white);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

header a button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
    }

    header nav a {
        font-size: 0.8rem;
    }

    header a,
    header a button {
        width: 100%;
        font-size: 0.8rem;
    }
}

/* FIM HEADER */
