/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);

/* COMECO HEADER */

header {
    position: relative;

    width: 100%;
    padding: 2rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header h3 {
    color: var(--white);
    cursor: default;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

header nav a {
    color: var(--white);
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

header nav span {
    color: var(--white);
    opacity: 0.4;
}

header a button {
    width: auto;
    padding: 0.6rem 1.3rem;

    background: none;
    font-size: 0.95rem;
    color: var(--white);

    border: 0.1px solid var(--white);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0,0,0,0.2);
    box-shadow: 4px 7px 19px 1px rgba(0,0,0,0.2);
}

header a button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
    }

    header nav a{
        font-size: 0.8rem;
    }

    header a, header a button{
        width: 100%;
        font-size: 0.8rem;
    }
}

/* FIM HEADER */

/* COMECO MAIN */

main {
    margin: 3rem 2.5rem;
    height: auto;
}

main h1 {
    color: var(--white);
    font-size: 2.5rem;
}

section.historia {
    width: 50%;
    margin-top: 25px;
}

section.historia h4{
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
}

section.historia p{
    margin-top: 1rem;
    color: var(--white);
    font-size: 1rem;
}

/* CARDS */

section.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

section.cards .card{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 0.5rem;
    background-color: var(--white);
}

section.cards .card i{
    font-size: 2.5rem;
    color: var(--primary);
}

section.cards .card h3{
    margin-top: 0.8rem;
    color: var(--primary);
}

section.cards .card p{
    margin-top: 0.8rem;
    font-size: 0.9rem;
    opacity: 0.7;
    text-align: center;
}

@media (max-width: 832px) {
    main {
        height: auto;
    }
}

@media (max-width: 694px) {
    section.cards {
        gap: 1rem;
        flex-direction: column;
    }

    section.cards .card{
        width: 100%;
    }

    section.historia {
        width: 100%;
    }
}