/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);
@import url(../../global/header.css);

body {
    height: 100vh;
}

/* COMECO MAIN  */

main {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

main h3 {
    margin-left: 250px;
    margin-right: 20px;
    color: var(--white);
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    width: 60%;
    margin: auto;
    color: var(--primary);
    font-weight: 600;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type='text'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

.search-bar button[type='submit'] {
    padding: 6px 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

form button {
    margin-bottom: 1rem;
    padding: 0.8rem 5rem;

    font-size: medium;
    font-weight: bold;

    color: var(--white);

    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary);
    background: linear-gradient(0deg, var(--secondary) 5%, var(--primary) 100%)
        repeat;

    cursor: pointer;
    transition: 0.5s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

form button:hover {
    transition: 0.5s;
    color: var(--white);
    background-color: var(--secondary);
}

/* PARTE DO FAQ */

.wrapper {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input [type='radio'] {
    display: none;

    /* position: absolute;
    opacity: 0;
    z-index: -1; */
}

.accordion {
    width: 60%;
    overflow: hidden;
}

.item {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.title {
    background: #fff;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.title::after {
    content: '\276F';
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.2s;
}

.content {
    background: #fff;
    padding: 0 1em;
    color: dimgray;
    max-height: 0;
    transition: all 0.2s;
}

input:checked + .title:after {
    transition: rotate(90deg);
}

input:checked ~ .content {
    max-height: 100vh;
    padding: 1em;
}

/* FIM MAIN  */

label.title {
    color: var(--secondary);
}
