/* Importanto variaveis de cores do arquivo global */
@import url(../../global/variables.css);

/* COMECO HEADER */

header {
    position: relative;

    width: 100%;
    height: 10vh;
    padding: 2rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: var(--white);
    cursor: default;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

header nav a {
    color: var(--white);
    font-size: 1.1rem;
}

header nav a:hover {
    text-decoration: underline;
}

header nav span {
    color: var(--white);
    opacity: 0.4;
}

header a button {
    width: auto;
    padding: 0.6rem 1.3rem;

    background: none;
    font-size: 0.95rem;
    color: var(--white);

    border: 0.1px solid var(--white);
    border-radius: 0.5rem;

    cursor: pointer;
    transition: 0.2s;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

header a button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* FIM HEADER */

/* COMECO MAIN */

main {
    margin: 3rem 2.5rem;

    height: 80vh;
}

main .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 1;
}

main .top-row h1 {
    color: var(--white);
    font-size: 2.5rem;
}

main .top-row .button-group {
    display: flex;
    gap: 0.5rem;
}

main .top-row .button-group button {
    padding: 0.7rem 1rem;
    font-size: 0.95rem;
    font-weight: bold;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

main .top-row .button-group button i {
    margin-left: 5px;
}

main .top-row .button-group button.filter-button {
    background-color: var(--white);
    color: var(--secondary);

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

main .top-row .button-group button.add-button {
    background-color: var(--success);
    color: var(--white);

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

/* FILTER CONTAINER */

.filter-container {
    width: 100%;

    margin-top: 1rem;
    padding: 1.5rem;

    border-radius: 0.5rem;
    background-color: var(--white);

    display: none;
    gap: 2rem;

    -webkit-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 7px 19px 1px rgba(0, 0, 0, 0.2);
}

.filter-container .input-group {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.filter-container .input-group label {
    margin-bottom: 5px;

    font-size: 1.1rem;
    font-weight: bold;

    color: var(--primary);
}

.input-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 0.5rem;

    border: 1px solid var(--primary_light);
}

.filter-container .input-group input {
    flex: 1;

    border-radius: 0.5rem;
    padding: 0.8rem;

    color: var(--primary_light);

    font-size: 0.8rem;

    border: none;
    outline: none;
}

.filter-container .input-group i {
    margin-right: 0.8rem;
    font-size: 0.95rem;

    color: var(--primary_light);
}

.filter-container .input-group select {
    flex: 1;

    border-radius: 0.5rem;
    padding: 0 1rem;

    color: var(--primary_light);

    font-size: 0.8rem;

    border: 1px solid var(--primary_light);
}

.filter-container .search-button {
    height: 3rem;

    align-self: flex-end;

    padding: 0.7rem 3rem;
    font-size: 0.95rem;
    font-weight: bold;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;

    color: var(--white);
    background-color: var(--primary);
}

.filter-container .search-button i {
    margin-left: 0.5rem;
}

@media (max-width: 765px) {
    .filter-container {
        flex-direction: column;
    }

    .filter-container .input-group select {
        padding: 0.8rem;
    }

    .filter-container .search-button {
        width: 100%;
    }
}

.container {
    margin-top: 25px;
    padding: 1rem;

    border-radius: 0.5rem;
    background-color: var(--white);
}

.object-card {
    position: relative;

    flex: 1;

    display: flex;
}

.object-card .image-container {
    display: flex;
    justify-content: left;

    width: 30%;
    height: 300px;
}

.object-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.object-card .details {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.object-card .details .title-container h3 {
    font-size: 3rem;
    color: var(--primary);
}

.object-card .details .title-container span {
    font-size: 1rem;
    color: var(--primary);
    font-weight: bold;
}

.object-card .details .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.object-card .details .info .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.object-card .details .info .row .icon-container {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary_light);
    font-size: 1rem;
}

.object-card .details .info .row span {
    margin-left: 5px;
    font-size: 1rem;
    color: var(--primary_light);
}

.object-card .details button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
}

.object-card .details button i {
    margin-left: 5px;
}

.object-card .contato-info {
    color: var(--primary);
    font-weight: bold;
}

.object-card .contato-info span {
    padding-right: 1rem;
}

@media (max-width: 1020px) {
    main {
        height: 80vh;
    }

    .list-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;

        height: auto;
    }

    header nav a {
        font-size: 0.8rem;
    }

    header a,
    header a button {
        width: 100%;
        font-size: 0.8rem;
    }

    main .top-row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;

        flex: 1;
    }

    .object-card {
        height: auto;
        flex-direction: column;
    }

    .object-card .image-container {
        width: 100%;
        height: 200px;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .object-card .image-container img {
        object-fit: contain;
    }

    .object-card .details .info {
        padding-top: 0.7rem;
    }

    .object-card .details button {
        position: relative;
        bottom: auto;
        right: auto;

        margin-top: 10px;
    }
}

@media (max-width: 425px) {
    main {
        margin: 3rem 1.5rem;
    }

    main .top-row .button-group {
        width: 100%;

        flex-direction: column;
    }

    main .top-row .button-group button.filter-button {
        width: 100%;
    }

    main .top-row .button-group button.add-button {
        width: 100%;
    }
}
